
 @media screen and (max-width: 1380px) {
    .res-footer{
        font-size: 20px!important;
    }
  }
  
  /* Stilovi za ekrane širine 1200px i manje */
  @media screen and (max-width: 1200px) {
    .res-footer{
        font-size: 17px!important;
    }
    .res-p-o-nama{
        font-size: 19px!important;
    }
  }
  
  /* Stilovi za ekrane širine 992px i manje */
  @media screen and (max-width: 992px) {
    /* Vaši stilovi za ekrane širine 992px i manje */
  }
  
  /* Stilovi za ekrane širine 768px i manje */
  @media screen and (max-width: 768px) {
    .size-h1-header{
        font-size: 40px;
    }
    .size-p-header{
        font-size: 30px;
    }
  }
  
  /* Stilovi za ekrane širine 576px i manje */
  @media screen and (max-width: 576px) {
    .size-h1-header{
        font-size: 30px;
    }
    .size-p-header{
        font-size: 20px;
    }
  }
  @media screen and (max-width: 370px) {
    .size-h1-header{
        font-size: 27px;
    }
    .size-p-header{
        font-size: 16px;
    }
  }